li{
   list-style: none; 
   margin-bottom: 10px;
}
body{
    margin-top: 200px;
}

h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

.container{
    
    width: 40rem;
    border-radius: 15px;
    box-shadow: rgba(219, 215, 218, 0.274) 0px 5px, rgba(173, 169, 172, 0.575) 0px 10px, rgba(236, 211, 227, 0.2) 0px 15px, rgba(161, 143, 155, 0.1) 0px 20px, rgba(119, 111, 116, 0.05) 0px 25px;;
};
